@font-face {
	src : url('fonts/Montserrat-Bold.ttf');
	font-family: montserrat-bold;
	src : url('fonts/Montserrat-Black.ttf');
	font-family: montserrat-black;
	src : url('fonts/Montserrat-Regular.ttf');
	font-family: montserrat-reg;
	src : url('fonts/Montserrat-Medium.ttf');
	font-family: montserrat-med;
	src : url('fonts/RobotoSlab-Regular.ttf');
	font-family: robotoslab-reg;
	src : url('fonts/RobotoSlab-Light.ttf');
	font-family: robotoslab-light;
	src : url('fonts/Montserrat-ExtraBold.ttf');
	font-family: montserrat-extra;
}
body {
	background-color: grey;
}
/*======header style=====*/
.box {
	background-color: #fff;
	padding: 40px 0px;
}
.box:after {
	content:'';
	display: block;
	clear: both;
}
.mid {
	width: 80%;
	margin: auto;
}
.logo {
	width: 30%;
	float: left;
}
.menu {
	width: 70%;
	float: left;
}
.menu ul {
	text-align: right;
}
.menu ul li {
	display: inline-block;
}
.menu ul li a {
	color: #777;
	font-family: 'montserrat-reg';
	text-transform: uppercase;
	padding: 0px 20px;
	font-style: bold;
	font-size: 14px;
}

/*======body style=====*/

/*======banner=====*/

.banner {
	background-image: url(images/banner.jpg);
	overflow: hidden;
	background-position: center center;
	height: 500px;
	text-align: center;

}
.blur {
	height: 100%;
	width: 100%;
	background-color: rgba(0, 0, 0, .7);
	overflow: hidden;

}
.banner h1 {
	color: #fff;
	font-family: 'montserrat-extra';
	font-weight: 400;
	font-size: 60px;
	text-transform: uppercase;
	width: 55%;
	margin:100px auto 20px;
}
.banner p {
	color: #ccc;
	font-family: robotoslab-reg;
	font-weight: 400;
	font-size: 18px;
	margin: 10px auto 30px;
}
.banner a {
	color: #fff;
	font-family: montserrat-bold;
	font-weight: 700;
	font-size: 14px;
	background-color: #7cc576;
	padding: 20px 25px;
	border-radius: 30px;
	display: inline-block;
	margin: 10px 0px;
	text-transform: uppercase;
	text-shadow: 0px, 0px 2px, #333;
}
/*============service==========*/
.services {
	height: 500px;
	background-color: #fff;
	text-align: center;
	overflow: hidden;
	padding-bottom: 100px;
}
.services h1 {
	margin-top: 100px;
	margin-bottom: 15px;
	font-family: montserrat-extra;
	font-weight: 400;
	font-size: 40px;
	text-transform: uppercase;
	color: #222;

}
.services p {
	margin-bottom: 20px;
	font-family: robotoslab-reg;
	font-weight: 400;
	font-size: 18px;
	color: #777;
}
.mid1 {
	margin-top: 50px;
	text-align: center;
}
.x1 {
	width: 30%;
	display: inline-block;

	padding: 10px;
}
.x1 img {
	margin: 20px 0px;
}
.x1 h3 {
	text-align: center;
	text-transform: uppercase;
	font-family: montserrat-extra;
	font-weight: 500;
	font-size: 18px;
	margin: 10px 0px;
	color: #222;
}
.x1 p {
	font-size: 14px;
	margin-top: 0px;
	font-family: robotoslab-reg;
	color: #777;
	line-height: 22px;
}
/*===========relax=========*/
.relax {

}
.relax:after {
	content: '';
	display: block;
	clear: both;
}
.relax-left {
	width: 30%;
	height: 550px;
	float: left;
	background-color: #e9e9e9;
	overflow: hidden;
	position: relative;
}
.relax-left img {
	position: absolute;
	top: 0px;
	bottom: 0px;
	right: -195px;
	margin: auto;

}

.relax-right {
	width: 70%;
	height: 550px;
	float: left;
	background-image: url('images/relax.jpg');
}
.blur2 {
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, .7);
	padding-top: 100px;
	padding-left: 100px;
	box-sizing: border-box;
}
.relax-right h2 {
	color: #fff;
	font-family: montserrat-extra;
	font-weight: 700;
	text-transform: uppercase;
	font-size: 40px;


}
.relax-right h2 span {
	color: #7cc576;
}
.relax-right h2 span:after {
	content: '';
	display: block;
}
.relax-right p {
	color: #ccc;
	font-family: robotoslab-reg;
	font-size: 16px;
	margin-top: 30px;
	margin-bottom: 10px;
}
.relax-right ul {
	color: #ccc;
	margin: 20px 0px;
	font-family: robotoslab-reg;
}
.relax-right ul li {
	margin: 10px 0px;
}
.relax-right ul li i {
	font-size: 18px;
	width: 18px;
	height: 18px;
	border: 1px solid #ccc;
	border-radius: 50%;
	padding: 6px;
	vertical-align: middle;
}
.relax-right ul li span {
	margin-left: 20px;
	text-transform: capitalize;
}
.relax-right a {
	background-color: #7cc576;
	color: #fff;
	font-family: montserrat-extra;
	font-size: 14px;
	text-transform: uppercase;
	padding: 20px 30px;
	border-radius: 30px;
	display: inline-block;
	margin: 20px 0px;
	text-shadow: 0px, 0px 2px, #333;
}
/* =======project==========*/

.project {
	background-color: #fff;
	padding: 100px 0px;
	background-image: url('images/ipad.png');
	background-repeat: no-repeat;
	background-position: right;
}
.project h1 {
	text-align: center;
	margin-bottom: 15px;
	font-family: montserrat-extra;
	font-size: 40px;
	text-transform: uppercase;
	color: #222;
}
.project p {
	text-align: center;
	font-family: robotoslab-reg;
	font-size: 18px;
	color: #777;
	margin-bottom: 100px;
}
.project-content {
	width: 50%

}
.project-content h3, a {
	font-family: montserrat-extra;
	font-size: 16px;
	text-transform: uppercase;
	color: #222;

}
.project-content p {
	text-align: left;
	margin: 15px 0px;
	width: 80%;
	line-height: 25px;
	font-size: 14px;
	font-family: robotoslab-reg;
}
.list-box:after {
	content: '';
	display: block;
	clear: both;
}
.list-box .icon {
	width: 80px;
	height: 80px;
	border-radius: 50%;
	border: 1px solid #222;
	position: relative;
	float: left;
}
.list-box .icon img {
	position: absolute;
	top: 0px;
	bottom: 0px;
	right: 0px;
	left: 0px;
	margin: auto;

}








